html, body {
  margin: 0;
  padding: 0;
  background-color: #121212;
}
* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 transparent;
}

/* Remove number input spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}
